

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}


body{
    font-family: 'Open Sans', sans-serif;
}

.link{
    list-style: none;
}

a{
    text-decoration: none;
    font-style: normal;
   }

img{
    display: block;
}

.button{
    cursor: pointer;
}


.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;   
}


.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;   
}



.search-form {
    display: flex;
    align-items: center;

    width: 100%;
    
    padding: 40px;
   

}


.search-form_input{
    display: block;
    // margin: auto;
    margin-left: auto; 

    height: 50px;
    width: 300px;
    padding-left: 15px; 

    border-radius: 5px;
    border: transparent;
    border: 1px solid grey;
   
}

.search-form_input:focus{
    outline: none;
}


.submit-btn {
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 100px;

    margin-left: 10px;
    margin-right: auto;

    background-color: rgb(66, 78, 245)    ;
    color: white;
    font-size: 15px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    max-width: auto 0;
    margin-top: 10px;
    margin-bottom: -30px;
    gap: 10px;


    transition: background-color 0.5s ease-in-out;
}

.gallery-scrolling {
    background-color: lightblue; 
}

.photo-card {
    width: 285px;
    margin-bottom: 30px;
    border: 1px solid black;

}


.photo-img {
    display: block;
    width: 100%;
    height: 245px;

}


.info {
    display: flex;
    gap: 5px;
    width: 100%;
  
}


.info-item {
    text-align: center;
}



.load-more {
    display: block;
    margin: 10px auto;
   
    width: 100px;
    height: 40px;

    background-color: rgba(132, 161, 120, 1);
    border-radius:5px;
    border: transparent;
    
    
}



.loader {
  

    width: 48px;
    height: 48px;
    display: inline-block;

    margin-top: 30px;
    margin-left: 560px;

    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid grey;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  .is-hidden{
    display: none;
}